[devshell]
packages = ["alejandra"]

[[commands]]
name = "build-all"
category = "building"
help = "Build the project"
command = """\
  cargo build; \
  cargo doc; \
"""

[[commands]]
name = "check-all"
category = "linting"
help = "Check all files (nix, rust, toml) in the project"
command = """\
  alejandra --check .; \
  cargo fmt --check; \
  cargo clippy; \
  cargo doc; \
  taplo check devshell.toml Cargo.toml "*/Cargo.toml"; \
"""

[[commands]]
name = "test-all"
category = "testing"
help = "Run the test suite"
command = """\
  if [[ "$(uname -s)" == "Linux" ]]; then \
    cargo llvm-cov nextest --html; \
  else \
    cargo nextest run; \
  fi \
"""
